.pictures__content__container {
  column-count: 6;
  padding: 0 30px;
  margin-bottom: 50px;
}

.pic {
  width: 13rem;
}

.pictures__btn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 80px 0;
}
